.login {
    background-color: var(--Dark-Violet);
    min-height: 100vh;
    padding-top: 6rem;
    font-family: 'Karla', sans-serif;
}

.form {
    background-color: var(--Very-Light-Gray);
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 20px;
    padding: 2rem 4rem;
}

.form > h1 {
    text-align: center;
    margin: auto;
}

.form > h1 > img {
    width: 130%;
}

.inputbox {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.inputbox > label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.inputbox > input {
    font-size: 15px;
    width: 22rem;
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 7px;
}

.login-btn {
    margin-top: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    min-width: 22rem;
    padding: 0.8rem;
    color: var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    border: 0;
    border-radius: 18px;
    &:hover {
        background-color: var(--Dark-Grayish-Violet);
    }
}

.signup {
    color: var(--Very-Light-Gray);
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.signup > a {
    font-size: 16px;
    margin-left: 0.5rem;
    letter-spacing: 0px;
    &:hover {
        color: var(--Dark-Grayish-Violet);
    }
}

.visible-box {
    border: 1px solid var(--Dark-Violet);
    border-radius: 5px;
    width: 22rem;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    &:active{
        border: 2px solid var(--Dark-Violet);
    }
}

.visible-box > input {
    border: 0;
    min-width: 15rem;
    font-size: 15px;
    outline: none;
}

.see {
    display: block;
}

.error{
    margin: auto;
    font-size: 13px;
    font-style: italic;
    color: red;
}

@media screen and (max-width: 37.5rem){
    .login {
        padding-top: 8rem;
        max-height: 100%;
    }

    .form {
        margin: 1rem;
        padding: 2rem 3.5rem;
    }
    
    .form > h1 {
        text-align: center;
        margin: auto;
    }
    
    .form > h1 > img {
        width: 130%;
    }

    .inputbox > label {
        font-size: 18px;
    }
    
    .inputbox > input {
        font-size: 18px;
        width: 22rem;
        padding: 1rem;
    }
    
    .login-btn {
        font-size: 18px;
        min-width: 22rem;
    }
}