.logout-modal {
    display: grid;
    padding: 2rem;
    z-index: 40;
    background-color: var(--Very-Light-Gray); 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout-modal > button {
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    margin-top: 0.8rem;
    margin-left: 8rem;
    border: 1px solid var(--Very-Dark-Violet);
}