.register {
    background-color: var(--Dark-Violet);
    min-height: 100vh;
}

#signup-form {
    background-color: var(--Very-Light-Gray);
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2rem 4rem;
}

.inputbox {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.inputbox > label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.inputbox > input {
    font-size: 15px;
    width: 22rem;
    padding: 0.8rem;
    border: 1px solid;
    border-radius: 7px;
}

.error{
    margin: auto;
    font-size: 13px;
    font-style: italic;
    color: red;
}

@media screen and (max-width: 37.5rem){
    .register {
        padding-top: 3rem;
    }

    .signup-form {
        margin: 4rem;
        padding: 2rem 3.5rem;
    }
}